pipeline/GetmetadataExcelDetails.json
{
	"name": "GetmetadataExcelDetails",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Ds_getmetadata1",
						"type": "DatasetReference"
					},
					"fieldList": [
						"itemName",
						"columnCount",
						"lastModified",
						"size"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "var_excel_details",
					"value": {
						"value": "@activity('Get Metadata1').output.itemName",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"var_excel_details": {
				"type": "String"
			},
			"var_excel_size": {
				"type": "Integer"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-06-07T06:45:33Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}