pipeline/pipeline4.json
{
	"name": "pipeline4",
	"properties": {
		"activities": [
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.Parameter",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Wait1",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 1
							}
						},
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Wait1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"typeProperties": {
								"variableName": "variable1",
								"value": {
									"value": "@item()",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"Parameter": {
				"type": "array",
				"defaultValue": [
					"gowtham",
					"kumar",
					"Ayi"
				]
			}
		},
		"variables": {
			"variable1": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-05-28T17:12:02Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}